<img src="/images/logo94x50.png"><br><br>

<div style="color:#808080;font-size:12px;font-family:Verdana;">
    <h1 style="color:#45A1D5;font-size:16px;font-family:Verdana;">Status: {{ code }}</h1>
    <p>
        {{ message }}
    </p>
    <br>
    <i>Request URL: {{ uri }}<br>
        Method: {{ method }}></i>
</div>