{% stylesheets filter='cssrewrite'
        'bundles/ifrescoclient/js/highlight.js/styles/vs.css'
        %}
        <link href="{{ asset_url }}" rel="stylesheet" />
        {% endstylesheets %}
        
{% javascripts
		'@IfrescoClientBundle/Resources/public/js/highlight.js/highlight.pack.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        

         <script type="text/javascript">
          hljs.tabReplace = '    ';
          hljs.initHighlighting();
          </script>            

        <div style="overflow:auto;width:100%;height:100%;"><pre><code>{% autoescape false %}{{ content }}{% endautoescape %}</code></pre></div>';