<iframe src="{{ file }}" type="application/pdf" width="100%" height="100%" style="z-index:-100;width:100%;height:100%;" class="PDFRenderer">
	<p>It appears you dont have a PDF plugin for this browser. <a href="'.$file.'">click here to download the PDF file.</a></p>
</iframe>
